attrs==21.2.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
decorator==5.1.0
frictionless==4.19.5
idna==3.3
isodate==0.6.0
jsonschema==4.1.2
marko==1.1.0
petl==1.7.4
pyrsistent==0.18.0
python-dateutil==2.8.2
python-slugify==5.0.2
PyYAML==6.0
reportbro-simpleeval==0.9.11
requests==2.26.0
rfc3986==1.5.0
shellingham==1.4.0
six==1.16.0
stringcase==1.2.0
text-unidecode==1.3
typer==0.4.0
urllib3==1.26.7
validators==0.18.2
