---
layout: default
---

{{ content }}

<p class="small">Source: <a href="{{ site.github.repository_url }}/blob/main/example"><code>example dataset</code></a></p>

{% assign deployment_id = page.name | remove: '.md' %}
{% assign deployment = site.data.deployments | where: 'deploymentID', deployment_id | first %}
{% assign media = site.data.media | where: 'deploymentID', deployment_id %}
{% assign observations = site.data.observations | where: 'deploymentID', deployment_id %}

<h2 id="{{ deployment_id }}">Deployment information</h2>

<h3 id="location">Location</h3>
<ul>
  <li>locationID: <code>{{ deployment.locationID }}</code></li>
  <li>locationName: <code>{{ deployment.locationName }}</code></li>
  <li>latitude, longitude:  <a href="https://www.google.com/maps/search/?api=1&query={{ deployment.latitude }},{{ deployment.longitude }}&zoom=12"><code>{{ deployment.latitude }}, {{ deployment.longitude }}</a></code></li>
  <li>coordinateUncertainty:  <code>{{ deployment.coordinateUncertainty }}</code> m</li>
</ul>

<h3 id="duration">Duration</h3>
<ul>
  <li>deploymentStart: <code>{{ deployment.deploymentStart }}</code></li>
  <li>deploymentEnd: <code>{{ deployment.deploymentEnd }}</code></li>
</ul>

<h3 id="camera-setup">Camera setup</h3>
<ul>
  <li>setupBy: <code>{{ deployment.setupBy }}</code></li>
  <li>cameraID: <code>{{ deployment.cameraID }}</code></li>
  <li>cameraModel: <code>{{ deployment.cameraModel }}</code></li>
  <li>cameraDelay: <code>{{ deployment.cameraDelay }}</code> s</li>
  <li>cameraHeight: <code>{{ deployment.cameraHeight }}</code> m</li>
  <li>cameraTilt: <code>{{ deployment.cameraTilt }}</code> °</li>
  <li>cameraHeading: <code>{{ deployment.cameraHeading }}</code> °</li>
  <li>detectionDistance: <code>{{ deployment.detectionDistance }}</code> m</li>
  <li>timestampIssues: <code>{{ deployment.timestampIssues }}</code></li>
  <li>baitUse: <code>{{ deployment.baitUse }}</code></li>
  <li>habitat: <code>{{ deployment.habitat }}</code></li>
</ul>

<h3 id="organizational">Organizational</h3>
<ul>
  <li>deploymentGroups: <code>{{ deployment.deploymentGroups }}</code></li>
  <li>deploymentTags: <code>{{ deployment.deploymentTags }}</code></li>
  <li>deploymentComments: <code>{{ deployment.deploymentComments }}</code></li>
</ul>

{% assign event_ids = observations | map: 'eventID' | uniq %}
{% for event_id in event_ids %}
  {% assign media_observations = observations | where: 'eventID', event_id | where: 'observationLevel', 'media' %}
  {% assign event_observations = observations | where: 'eventID', event_id | where: 'observationLevel', 'event' %}
  {% assign media_ids = media_observations | map: 'mediaID' | uniq %}
  {% comment %}The order of media_ids relies on the sorting in the observation table{% endcomment %}
  <h2 id="{{ event_id }}">Event: {{ event_id }}</h2>
  
  <div id="carousel-{{ event_id }}" class="carousel slide carousel-fade mb-4" data-bs-ride="carousel" data-bs-keyboard="false" data-bs-interval="500">
    <div class="carousel-inner">
      {% for media_id in media_ids %}
        {% assign med = media | where: 'mediaID', media_id | first %}
        {% assign public = med.filePublic | downcase %}
        {% if public == "false" %}
          {% assign public = false %}
        {% else %}
          {% assign public = true %}
        {% endif %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">
          <img class="d-block w-100" src="{% if public %}{{ med.filePath }}{% else %}{{ '/assets/placeholder.svg' | relative_url }}{% endif %}" alt="{{ med.timestamp }}">
          <div class="carousel-caption d-none d-md-block">
            <code class="fs-5 text-light">{{ media_id }}</code>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ event_id }}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ event_id }}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h4>Event-based observations</h4>
  <table class="table table-sm font-monospace" style="font-size: 0.75em;">
    <colgroup>
      <col width="15%">
      <col width="15%">
      <col width="15%">
      <col width="10%">
      <col width="20%">
      <col width="5%">
      <col width="10%">
      <col width="10%">
    </colgroup>
    <thead>
      <tr>
        <th>eventID</th>
        <th>eventStart</th>
        <th>eventEnd</th>
        <th>observationType</th>
        <th>scientificName</th>
        <th>count</th>
        <th>sex</th>
        <th>lifeStage</th>
      </tr>
    </thead>
    <tbody>
      {% for obs in event_observations %}
        <tr>
          <td>{{ obs.eventID }}</td>
          <td>{{ obs.eventStart | replace_first: 'T', ' T' }}</td>
          <td>{{ obs.eventEnd | replace_first: 'T', ' T' }}</td>
          <td>{{ obs.observationType }}</td>
          <td>{{ obs.scientificName }}</td>
          <td>{{ obs.count }}</td>
          <td>{{ obs.sex }}</td>
          <td>{{ obs.lifeStage }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Media-based observations</h4>
  <table class="table table-sm font-monospace" style="font-size: 0.75em;">
    <colgroup>
      <col width="15%">
      <col width="15%">
      <col width="15%">
      <col width="10%">
      <col width="20%">
      <col width="5%">
      <col width="10%">
      <col width="10%">
    </colgroup>
    <thead>
      <tr>
        <th>mediaID</th>
        <th>eventStart</th>
        <th>eventEnd</th>
        <th>observationType</th>
        <th>scientificName</th>
        <th>count</th>
        <th>sex</th>
        <th>lifeStage</th>
      </tr>
    </thead>
    <tbody>
      {% for obs in media_observations %}
        <tr>
          <td>{{ obs.mediaID }}</td>
          <td>{{ obs.eventStart | replace_first: 'T', ' T' }}</td>
          <td>{{ obs.eventEnd | replace_first: 'T', ' T' }}</td>
          <td>{{ obs.observationType }}</td>
          <td>{{ obs.scientificName }}</td>
          <td>{{ obs.count }}</td>
          <td>{{ obs.sex }}</td>
          <td>{{ obs.lifeStage }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
