---
layout: default
---

{{ content }}

{% assign profile_file = "camtrap-dp-profile" %}
{% assign properties1 = site.data[profile_file].allOf[1].properties %}
{% assign required1 = site.data[profile_file].allOf[1].required %}

<p class="small">Source: <a href="{{ site.github.repository_url }}/blob/main/{{ profile_file }}.json"><code>{{ profile_file }}.json</code></a></p>

{% for p1_raw in properties1 %}
  {% assign p1_name = p1_raw[0] %}
  {% assign p1 = p1_raw[1] %}
  {% assign p1_id = p1_name | downcase | url_encode %}
  
  <h2 id="{{ p1_id }}">
    {{ p1_name }}
    {% if required1 contains p1_name %}*{% endif %}
  </h2>

  {{ p1.description | markdownify }}

  {% if p1['skos:exactMatch'] %}
    <p class="small text-muted">Same as <a href="{{ p1['skos:exactMatch'] }}">{{ p1['skos:exactMatch'] }}</a></p>
  {% elsif p1['skos:narrowMatch'] %}
    <p class="small text-muted">Broader than <a href="{{ p1['skos:narrowMatch'] }}">{{ p1['skos:narrowMatch'] }}</a></p>
  {% elsif p1['skos:broadMatch'] %}
    <p class="small text-muted">Narrower than <a href="{{ p1['skos:broadMatch'] }}">{{ p1['skos:broadMatch'] }}</a></p>
  {% endif %}

  {% if p1.properties %}
    {% assign properties2 = p1.properties %}
    {% assign required2 = p1.required %}
  {% elsif p1.items.properties %}
    {% assign properties2 = p1.items.properties %}
    {% assign required2 = p1.items.required %}
  {% elsif p1.items.oneOf[0].properties %}
    {% assign properties2 = p1.items.oneOf[0].properties %}
    {% assign required2 = p1.items.oneOf[0].required %}
  {% else %}
    {% assign properties2 = false %}
  {% endif %}

  {% if properties2 %}
  <table>
    <colgroup>
      <col width="25%">
      <col width="65%">
      <col width="10%">
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Definition</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {% for p2_raw in properties2 %}
        {% assign p2_name = p2_raw[0] %}
        {% assign p2 = p2_raw[1] %}
        {% assign p2_id = p2_name | downcase | url_encode %}

        <tr class="text-break">
          <td id="{{ p1_id }}.{{ p2_id }}">
            <a href="#{{ p1_id }}.{{ p2_id }}"><code>{{ p2_name }}</code></a>
            {% if required2 contains p2_name %}*{% endif %}
          </td>
          <td>
            {{ p2.description | markdownify }}
            {% if p2.const or p2.enum or p2.items.enum %}
              <strong>Constraints</strong>
              <ul>
                {% if p2.const %}<li>const: <code>{{ p2.const }}</code></li>{% endif %}
                {% if p2.enum %}<li>enum: <code>{{ p2.enum | join: ", " }}</code></li>{% endif %}
                {% if p2.items.enum %}<li>enum: <code>{{ p2.items.enum | join: ", " }}</code></li>{% endif %}
              </ul>
            {% endif %}
            {% if p2.example and p2.example != "" %}
              <p>
                <strong>Example</strong>: <code>{{ p2.example }}</code>
              </p>
            {% endif %}
            {% if p2['skos:exactMatch'] %}
              <span class="small text-muted">Same as <a href="{{ p2['skos:exactMatch'] }}">{{ p2['skos:exactMatch'] }}</a></span>
            {% elsif p2['skos:narrowMatch'] %}
              <span class="small text-muted">Broader than <a href="{{ p2['skos:narrowMatch'] }}">{{ p2['skos:narrowMatch'] }}</a></span>
            {% elsif p2['skos:broadMatch'] %}
              <span class="small text-muted">Narrower than <a href="{{ p2['skos:broadMatch'] }}">{{ p2['skos:broadMatch'] }}</a></span>
            {% endif %}
          </td>
          <td><span class="badge bg-secondary">{{ p2.type }}</span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endfor %}
