---
layout: base
---

<div class="row">
  <div class="col">

    {{ content }}

    {% assign profile_file = "camtrap-dp-profile" %}
    {% assign properties = site.data[profile_file].allOf[1].properties %}

    <p class="small">Source: <a href="https://github.com/{{ site.github_username }}/blob/main/{{ profile_file }}.json"><code>{{ profile_file }}.json</code></a></p>

    {% for p1_raw in properties %}
      {% assign p1_name = p1_raw[0] %}
      {% assign p1 = p1_raw[1] %}
      
      <h2 id="{{ p1_name | downcase | url_encode }}">{{ p1_name }}</h2>

      {{ p1.description | markdownify }}

      {% if p1.properties %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Definition</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <colgroup>
            <col width="20%">
            <col width="70%">
            <col width="10%">
          </colgroup>
            {% for p2_raw in p1.properties %}
              {% assign p2_name = p2_raw[0] %}
              {% assign p2 = p2_raw[1] %}

              <tr>
                <td id="{{ p2_name | downcase | url_encode }}">
                  <a href="#{{ p2_name | downcase | url_encode }}"><code>{{ p2_name }}</code></a>
                </td>
                <td>
                  {{ p2.description | markdownify }}
                  {% if p2.enum %}
                    <ul>
                    {% for item in p2.enum %}
                      <li><code>{{ item }}</code></li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                </td>
                <td>{{ p2.type }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      {% endif %}
    {% endfor %}
  </div>
</div>
